body {
    background-color: #d0cdb7;
    background: repeating-linear-gradient( -45deg, #d0cdb7 2px, #d0cdb7 5px, #c7c29a 6px, #d8d8d8 6px);
}

h1, .h1 {
    font-size: 32px;
    margin-bottom: 1em;
}

.card, .preview {
    max-width: 500px;
    text-align: justify;
    box-shadow: 1px 1px 4px #cecece;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    background: rgba(255, 255, 255, 0.51);
}

.profile {
    float: left;
}

.name, .job {
    margin: 0;
}

.cover {
    margin: 15px 0;
    max-width: 100%;
}

.desc {
    font-size: 14px;
    line-height: 1.4em;
    color: #636363;
    margin: 0;
}

.fa {
    margin-right: 15px;
    color: #636363;
}

.cardlist {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addForm {
    display: flex;
    width: 26vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    padding: 30px;
    background: rgba(142, 142, 142, 0.21);
    border-right: 5px solid #afad9d;
}

input, textarea {
    padding: 5px;
    border: 1px solid #dedede;
    width: 100%;
    font: inherit;
    font-size: 14px;
    background: #ffffffb0;
    border-radius: 4px;
    margin-bottom: 10px;
}

.container {
    width: 70vw;
    float: right;
    margin-left: 30vw;
    max-width: 1440px;
}

@media screen and (max-width: 1140px) {
    .addForm {
        width: 40vw;
    }

    .container {
        width: 60vw;
    }
}
