.card, .muted {
  max-width: 500px;
  text-align: justify;
  box-shadow: 1px 1px 4px #cecece;
  padding: 30px;
  font-family: 'Lato', sans-serif;
  float: left;
  margin: 20px;
  background: white;
}

.muted {
opacity: 0.3;
}

.not-muted {
  opacity: 1;
}

.profile {
  float: left;
  max-width: 50px;
  border-radius: 25px;
  margin-right: 15px;
  height: 50px;
}

.name, .job {
  margin: 0;
}

.cover {
  margin: 15px 0;
  width: 100%;
}

.desc {
    font-size: 14px;
    line-height: 1.4em;
    color: #636363;
    margin: 0;
    word-wrap: break-word;
}

.fa {
    margin-right: 15px;
    color: #636363;
}

@media screen and (max-width: 1298px) {
  .inside-cont {
    max-width: 600px;
  }
}